/*
Monochromatic color scheme values
#20B2AA - light sea green -- color the scheme is built from
#7AFFF8
#2EFFF4
#3D7F7C
#25CCC3
 */

body{
	font-family: "Audiowide", cursive;
	position: relative;
}

.navbar-light {
	background-color: #3D7f7c;
}

.jumbotron-fluid {
	height: 100vh;
	background: linear-gradient(rgba(37,204,195,0.25), rgba(32,178,170,0.45)), url("../img/backgound-img.jpg") fixed center no-repeat;
	background-size: cover;
	margin-bottom: 0;
}


/**img {
	height: 4em;
	margin: auto;
	width: 4em;
}*/

#mission {
	background-color: #7AFFF8;
	padding: 5em;
}
 #previous {
	 background-color: #20B2AA;
	 padding: 5em;
 }
 #contact {
	 background-color: #25CCC3;
	 margin: 0;
 }

 hr.bold {
	 border-top: 5px solid black;
 }

 #links {
	 background-color: #3D7f7c;
 }

 h3.display-3 {
	 margin-bottom: 1em;
 }