/*
Monochromatic color scheme values
#20B2AA - light sea green -- color the scheme is built from
#7AFFF8
#2EFFF4
#3D7F7C
#25CCC3
 */

body{
	font-family: "Audiowide", cursive;
}

.navbar-light {
	background-color: #3D7f7c;
}

.jumbotron {
	height: 100vh;
	background: linear-gradient(rgba(37,204,195,0.25), rgba(32,178,170,0.45)), url("../../img/backgound-img.jpg") fixed center no-repeat;
	background-size: cover;
}

img {
	height: 4em;
	margin: auto;
}

#mission {
	background-color: #7AFFF8;
}

